.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
}
.loading {
  margin-top: 20px;
}


.itemData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 54px;
  color: #fff;
  background-color: #474955;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ddd;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: pointer;

    img {
      margin-left: 15px;
    }
    &:first-child {
      justify-content: center;
      width: 10%;
    }
    &:nth-child(2) {
      padding-left: 10%;
      width: 40%;
    }
    &:nth-child(3) {
      padding-left: 10%;
      width: 50%;
    }
  }

}

.itemNoData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  color: #474955;
}
