.container {
  display: flex;
  flex-direction: column;
  width: 1220px;
  box-sizing: border-box;
  margin: 10px auto;
  background: #E6E7EA;
  box-shadow: 0 4px 27px 0 #ddd;
  @media screen and (max-width: 1220px) {
      width: 100%;
  }

  @media screen and (max-width: 772px) {
    padding: 15px 20px;
  }
  @media screen and (min-width: 773px) {
    padding: 15px 70px;
  }
}
.loading {
  margin-top: 20px;
}
